<ion-header>
  <ion-navbar color>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>
    <div class="btn-add-item" (click)="redirectAddEvent()">
      <ion-icon name="md-add" class="btn-add-item-icon"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
<!--   <div *ngIf="dataArray.length === 0">
    <p>Not exist any card</p>
  </div>
  <div *ngIf="dataArray.length !== 0"> -->
     <ion-item-sliding *ngFor="let item of dataArray">
     <!-- <button ion-item (click)="itemTapped($event, item)"  > -->
      <button ion-item  (click)="itemTapped($event, item)"  >
        <ion-thumbnail item-left>
          <img src="assets/img/boy.png">
        </ion-thumbnail>
        <div class="item-eventName">
          {{item.eventName}}
        </div>
        <div class="item-eventType">
          Event type: {{item.eventType}}
        </div>
        <div class="item-duration">
            <div class="item-duration-start">
              Start: {{item.startDate}}
            </div>
            <div class="item-duration-end">
              End: {{item.endDate}}
            </div>
        </div>
       </button>

        <ion-item-options side="right">
          <button ion-button color="danger">Delete</button>
        </ion-item-options>
    </ion-item-sliding>
  <!-- </div> -->
   
  </ion-list>

</ion-content>
