.cards-item {
	border-bottom: 2px solid #ccc !important;
}

.btn-add-item {
	display: inline-block !important;
	position: absolute;
	right: 20px;
	top: 15px;
	height: 44px;
	&-icon{
		font-weight: bold;
		font-size: 20px;
		color: #3b5998;
	}
}