<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Membership cards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-searchbar
      (ionInput)="searchCards($event)">
    </ion-searchbar>
<!--   <div *ngIf="dataArray.length === 0">
    <p>Not exist any card</p>
  </div>
  <div *ngIf="dataArray.length !== 0"> -->
     <h1> Card list </h1>
     <ion-item-sliding *ngFor="let item of dataArray">
      <button ion-item (click)="itemTapped($event, item)"  >
        <ion-thumbnail item-left>
          <img src="assets/img/boy.png">
        </ion-thumbnail>
        <h1 style="text-align:left;float:left;" > {{item.cardCode}} </h1> 
        <h1 style="text-align:right;float:right;" > Points</h1>
        <div style="clear:both;"></div>
        <h3 style="text-align:left;float:left;"> Guest name: {{ item.guestName }} </h3>
        <h1 style="text-align:left;float:right;" > {{ item.points }}</h1>
        <div style="clear:both;"></div>

        <h3 style="text-align:left;float:left;"> Phone number: {{ item.phoneNumber }}</h3>  
       </button>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="delete(item)">Delete</button>
        </ion-item-options>
    </ion-item-sliding>
  <!-- </div> -->
   
  </ion-list>

</ion-content>
