.signUp-background {
	height: 100%;
	width: 100%;
	// background-image: url("../assets/img/Mountain.jpg");
	// background-size: 100%;
 //    background-repeat: no-repeat;
}

.signUp-container {
	position: absolute;
	// background-color: rgba(242, 242, 242, 0.3) ;
	top: 155px;
	width: 100%;
	padding: 20px;
}

.signUp-inputs {
	margin-bottom: 40px; 

}

.signUp-logo {
	 background-image: url("../assets/img/signup-logo.png");
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 2%;
    right: 22%;
}

#signUp-button {
    width: 30%;
    height: 30px;
}
